body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.site-heading-lower{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.mb-3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
a{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#mainNav{
    background-color: rgb(53, 30, 1);
}
